@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');

.work-sans-font{
    font-family: "Work Sans", serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}
/* shared styles */
*{
    margin: 0;
    padding: 0;
}
.display-flex{
    display: flex;
}
/* dark-02 */
.text-gray{
    color: rgb(66, 66, 66);
}
/* dark-03 */
.text-light-gray{
    color: rgb(114, 114, 114);
}
.bg-light{
    background: rgba(255, 144, 14, 0.1);
}

.btn-primary{
    border-radius: 8px;
    background: rgb(255, 144, 14);
    color: rgb(255, 255, 255);
    padding: 20px 25px;
    font-size: 1.25rem;
    font-weight: 600;
    border: none;
    margin-top: 32px;
}
main{
    max-width: 1440px;
    margin: 0 auto;
}
main > section{
    margin-top: 130px;
}
.section-title{
    font-size: 2.8rem;
    font-weight: 700;
}
.feature-description{
    margin-bottom: 30px;
}

/* header styles */

/* navbar related styles */
.navbar{
    justify-content: space-between;
    align-items: center;
}
.brand{
    font-size: 2.8rem;
    font-weight: 700;
}
.nav-item{
    list-style-type: none;
    margin-right: 30px;
}
.nav-link{
    text-decoration: none;
    font-size: 18px;
    font-weight: 500;
}
.navbar, .banner{
    max-width: 1440px;
    margin: 0 auto;
}

/* banner related styles */
.banner-content{
    max-width: 860px;
    margin: 0 auto;
    text-align: center;
    margin-bottom: 50px;
}
.banner-title{
    font-weight: 700;
    font-size: 4rem;
}
.banner-img{
    width: 100%;
}

/* feature sections related styles */
.features{
    gap: 140px;
}

#feature-section-title{
    border-left: 5px solid #FF900E;
    padding-left: 20px;
    margin-bottom: 24px;
}
.feature-card{
    padding: 30px;
    box-shadow: 0px 4px 30px 0px rgba(0, 0, 0, 0.06);
    margin-bottom: 20px;
    border-radius: 8px;
    
}

.feature-card .feature-title{
    font-size: 1.5rem;
    font-weight: 600;
}

#exprnc-badge{
    padding: 45px 42px;
    font-size: 1.5rem;
    font-weight: 500;
    margin-left: -92px;
    margin-top: -100px;
}
#exprnc-year{
    font-size: 4rem;
    font-weight: 700;
}
.featured-architct img{
    max-width: 100%;
}

/* team and feature related styles */
.teams{
    align-items: center;
    gap: 70px;
}
.team-img-container{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 24px;
}
.our-features{
    margin-left: 73px;
    max-width: 530px;
}

#quick-list{
    font-weight: 500;
}
#ftr{
    color: rgb(255, 144, 14);
}
/* card related styles */
.card-container{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    margin-top: 100px;
}
.card{
    border: 1px solid rgb(255, 144, 14);
    width: 240px;
    height: 240px;
    border-radius: 8px;
    justify-content: center;
    align-items: center;
    text-align: center;
}
.card-nmbr{
    font-size: 2.8rem;
    font-weight: 600;
    color: rgb(66, 66, 66);
    margin-top: 10px;
    margin-bottom: 5px;
}
.card-name{
    font-size: 1.4rem;
    font-weight: 600;
    color: rgb(114, 114, 114);
}
.card-description{
    max-width: 540px;
}
/* sponsor related styles */
.sponsor-info{
    max-width: 540px;
    margin: 50px auto;
    text-align: center;
}

.sponsor-companies{
    display: flex;
    justify-content: space-between;
}
.sponsor-companies{
    display: grid;
    grid-template-columns: repeat(5, 1fr);
}

.sponsor-companies img{
    filter: grayscale(100%);
}

/* responsive media query */
@media screen and (max-width:576px) {
    .navbar, .nav-link, .teams, .features{
        flex-direction: column;
    }
    .team-img-container, .card-container, .sponsor-companies{
        grid-template-columns: repeat(1, 1fr);
        gap: 24px;
    }
    .card-container{
        justify-items: center;
    }
    .sponsor-companies{
        justify-items: center;
    }
    .our-features{
        margin-left: 20px;
    }
    #exprnc-badge{
        margin-top: 20px;
        margin-left: 20px;
    }
}

/* medium size device */
@media screen and (min-width:576px) and (max-width:992px) {
    .teams{
        flex-direction: column;
    }
    .our-features{
        margin: 50px auto;
    }
    .card-container{
        grid-template-columns: repeat(2,1fr);
        gap: 50px;
        justify-items: center;
    }
    .sponsor-companies{
        grid-template-columns: repeat(3, 1fr);
        gap: 50px;
    }
}